html, body{
    height: 100%;
    width: 100%;
}

.container-fluid{
    padding: 0;
    height: 100%;
    width: 100%;
}

nav{
    height:100%;
    background-color: gainsboro;
    display: inline-block;
    float: left;
}

nav h3{
    margin: 20px;
}

.nav{
    margin-left: 10px;
}

.page-body{
    display: inline-flex;
    width: calc(100% - 286.81px);
    padding-left: 50px;
    padding-right: 20px;
}

.tab-pane{
    width: 100%;
}

.form-control{
    width: 200px;
}

table{
    margin-top: 10px;
}

h4{
    text-align: right;
}

.remove-calendar{
    float: right;
}