/*
    Nome: João Pedro Berno Zanutto
    nºUSP: 8956672
*/

html,
body {
    height: 100%;
    width: 100%;
}

button a {
    color: black;
    text-decoration: none;
}

button a:hover {
    color: black;
    text-decoration: none;
}

.container-fluid {
    padding: 0;
    height: 100%;
    width: 100%;
}

nav {
    height: 100%;
    background-color: gainsboro;
    display: inline-block;
    float: left;
}

nav h3 {
    margin: 20px;
}

.nav {
    margin-left: 10px;
}

.page-body {
    display: inline-flex;
    width: calc(100% - 286.81px);
    padding-left: 50px;
    padding-right: 20px;
}

.tab-pane {
    width: 100%;
}

.form-control {
    width: 200px;
}

table {
    margin-top: 10px;
}

h4 {
    text-align: right;
}

.remove-calendar {
    float: right;
}
